@model TodoApp.Models.Todo
<h4>Index is here</h4>
<table>
    <thead>
        <tr>
            <th> Id</th>
            <th> Employee</th>
            <th> Work</th>
            <th> Description</th>
            <th> Duration</th>
            <th> Telephone</th>
            <th> Action</th>
            <th> Action</th>
        </tr>
    </thead>

    <tbody>
       @*  @foreach (var m in Model)
        {
          *@   <tr>
                <td>@Model.id</td>
                <td>@Model.Employee</td>
                <td>@Model.Work</td>
                <td>@Model.Desription</td>
                <td>@Model.Duration</td>
                <td>@Model.Telephone</td>
                <td><a asp-action="upsert" asp-route-id="@Model.id" class="btn btn-danger">Upsert </a></td>
                <td><a asp-action="delete" asp-route-id="@Model.id">Delete</a></td>
            </tr>
        @* } *@
    </tbody>
</table>


